<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
@model ApiRendering.Models.AadhaarInfo

@{ ViewBag.Title = "Aadhaar Search"; }
<script>
    function hi() {
        swal({
            title: "Information Loading",
            /*icon: "success",*/
            /* timer: 6000,*/
            showConfirmButton: true
        });
    }
</script>

@if (Model == null)
{
<div style="padding-top:10px;min-height:300px;">
    @if (string.IsNullOrEmpty(ViewBag.Error))
    {
<form action="~/Home/AadharOfflineView" method="post">
    Card Number : @Html.TextBoxFor(model => model.aadharNumber) <br /><br />
    <br />
    <button type="submit" onclick="hi()">Search</button>
</form> }
else
{
<h2> @ViewBag.Error </h2>}
</div> }
else
{
<label style="color:blue"><b> Aadhar Verified Status :</b> </label> @Model.verified
 <br />
<label style="color:blue"><b> AgeBand :</b> </label> @Model.ageBand
  <br />
<label style="color:blue"><b> Gender :</b> </label> @Model.gender
<br />
<label style="color:blue"><b> Mobile Number :</b> </label> @Model.mobileNumber
<br />
<label style="color:blue"><b> State :</b> </label> @Model.state
<br />

                                                                                                                                                                @*@Html.DisplayForModel()*@
}