<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


@model ApiRendering.Models.DLAPIResponse

@{
    ViewBag.Title = "Driving License Search";
}

<h2><label style="color:darkblue"><b> Driving License Search</b></label></h2>
@if (Model == null)
{
    <label> Could not find the information for the given Driving License Number </label>
}
else
{
    <br />
    <label   type="button" data-toggle="collapse" data-target="#demo2"><b><u>Driving License Details</u></b></label>
    <br />

    @*<div>@ViewBag.Error</div>*@

    <div id="demo2" class="collapse">

        <div class="text-center">
            <img class="rounded-circle" src="@Model.details.photo" />
        </div>
        @{
            var validity = Model.validity;
            var details = Model.details;
        }
        <br />
        <label style="color:blue"><b> License Number :</b> </label> @Model.Number
        <br />
        <label style="color:blue"><b> DOB :</b> </label> @Model.dob
        <br />
        <label style="color:blue"><b> Valid From :</b> </label> @(validity !=null && validity.NonTransport !=null ?
    validity.NonTransport.From : "N/A")
        <br />
        <label style="color:blue"><b>Valid To :</b> </label> @(validity !=null && validity.NonTransport !=null ?
    validity.NonTransport.To : "N/A")
        <br />
        <label style="color:blue"><b> From : </b></label> @(validity !=null && validity.Transport !=null ?
    validity.Transport.From : "N/A")
        <br />
        <label style="color:blue"><b> To : </b></label> @(validity !=null && validity.Transport !=null ?
    validity.Transport.To : "N/A")
        <br />
        <label style="color:blue"><b>License Issue Date :</b> </label> @(details ! == null ? details.dateOfIssue : "N/A")
        <br />
        <label style="color:blue"><b>Driving License Status :</b> </label> @(details ! == null ? details.status : "N/A")
        <br />
        <label style="color:blue"><b>fatherOrHusbandName :</b> </label> @(details != null ? details.fatherOrHusbandName :
    "N/A")
        <br />
        <label style="color:blue"><b>Address :</b> </label> @(details != null && details.address !=null?
    Model.details.address.address : "N/A")
        <br />

        <label style="color:blue"><b> Name :</b> </label> @details.name
        <br />
        @if (details.covDetails != null)
        {
            @for (int i = 0; i < details.covDetails.Count; i++)
            {
                <label style="color:blue"><b> Category : </b></label> @Html.DisplayFor(model =>
    model.details.covDetails[i].COVCategory)
                <br />
                <label style="color:blue"><b> ClassOfVehicle :</b> </label> @Html.DisplayFor(model =>
    model.details.covDetails[i].ClassOfVehicle)
                <br />
                <label style="color:blue"><b> IssueDate :</b> </label> @Html.DisplayFor(model =>
    model.details.covDetails[i].COVIssueDate)
                <br />
            }
        }
    </div>
}